{% extends "base.html" %}

{% block page_title %}Главная страница{% endblock %}

{% block content %}
<section class="hero" style="background-image: url('hero-bg.jpg');">
    <div class="hero-text">
        <h1>Добро пожаловать в Колледж современных технологий и управления</h1>
        <p>Будь готов к будущему вместе с нами!</p>
        <button class="cta-btn">Узнать больше</button>
    </div>
</section>

<section class="advantages">
    <h2>Наши преимущества</h2>
    <div class="advantage-grid">
        <div class="advantage">
            <img src="https://i.vuzopedia.ru/storage/app/uploads/public/651/84a/35c/65184a35ccfa8525911040.jpg" alt="Современные технологии обучения">
            <p>Современные технологии обучения</p>
        </div>
        <div class="advantage">
            <img src="https://wiseadvice-it.ru/upload/medialibrary/410/3.png" alt="Программы, соответствующие требованиям рынка">
            <p>Программы, соответствующие требованиям рынка</p>
        </div>
        <div class="advantage">
            <img src="https://avatars.mds.yandex.net/get-altay/1439437/2a0000016772cd46fb071ecb7679063001c5/XXXL" alt="Опытные преподаватели">
            <p>Опытные преподаватели</p>
        </div>
    </div>
</section>
{% endblock %}
